.a {
    text-decoration: none;
    color: black;
}

.cardStyle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px;
    height: auto;
}

.mapContainer {
    position: relative;
    width: 100%;
    max-width: 600px; /* Můžeš upravit podle designu */
    height: 400px; /* Výchozí výška */
    overflow: hidden; /* Skryje přetékání */
}

.paragraph {
    width: 40%;
}

.iframe{
    width: 100%;
    height: 500px;
}

.container-fluid{
    height: auto;
}


/* Pro mobilní zařízení - mapa se přesune pod text */
@media screen and (max-width: 920px) {
    .cardStyle {
        flex-direction: column; /* Položí obsah pod sebe */
        padding: 20px;
    }

    .mapContainer {
        width: 100%; /* Mapa zabere celou šířku */
        margin-top: 20px;
    }

    .paragraph {
        width: 100%; /* Text zabere celou šířku */
    }

    .iframe{
        width: 100%;
        height: 50%;
    }

    .container-fluid{
        height: 100%;
    }

}

