/* PDF kontejner */


.pdfContainer {
  margin: 0 auto !important;
  max-width: 800px;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 20px;
}

/* Zbytek zůstane stejný, jen s novým názvem hlavní třídy */
.pdfContainer :global(.react-pdf__Page) {
  width: 100% !important;
  min-width: unset !important;
  box-sizing: border-box;
}

.pdfContainer :global(.react-pdf__Page__canvas) {
  width: 100% !important;
  height: auto !important;
}