/* PDF kontejner */
.pdfContainer {
    width: 100%;
    height: calc(100vh - 135px); /* Odečteme výšku navbaru */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Zabrání dvojitému scrollování */
}

/* iFrame pro PDF */
.pdfViewer {
    width: 90%;
    height: 100%; /* Přizpůsobí se výšce kontejneru */
    max-width: 1000px;
    border: none;
}

/* Odkaz na mobilu */
.mobilePdfLink {
    display: none;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

/* RESPONSIVITA - Mobilní verze */
@media screen and (max-width: 768px) {
    .pdfViewer {
        display: none; /* Skryje <object> na mobilu */
    }

    .mobilePdfLink {
        display: block; /* Zobrazí odkaz */
    }
}