.h1 {
    text-align: center;
}

/* Kontejner pro rozložení textu a obrázku */
.contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    gap: 20px;
}

/* Levá část - Text */
.textSection {
    width: 60%;
    padding-right: 20px;
}

/* Pravá část - Obrázek */
.imageSection {
    width: 40%;
    justify-content: center;
}

.image {
    width: 100%;
    border-radius: 10px;
}

/* Textový obsah */
.serviceParagraph {
    text-align: justify;
    padding: 20px;
    margin: 0;
}

/* Slideshow kontejner */
.slideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Obrázky ve slideshow */
.slideImage {
    width: 100%;
    max-height: 500px;
    object-fit: contain; /* Zajistí, že obrázek nebude oříznut */
    border-radius: 10px;
}

/* RESPONSIVITA - Mobilní verze */
@media screen and (max-width: 768px) {
    .contentWrapper {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .textSection {
        flex: 1;
        width: 100%;
        padding-right: 0;
    }

    .imageSection {
        flex: 1;
        width: 100%;
    }

    .image {
        width: 100%;
   
    }
}